*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
body {
	font-family: "RobotoRegular", sans-serif;
	font-size: 16px;
	min-width: 320px;
	position: relative;
}
.hidden {
	display: none;
}
.carousel img {
	width: 100%;
	height: auto;
}
.parallax {
	background-attachment: fixed;
	background-position: 50% 0;
	position: relative;
}
header {
	background-image: 	url(../img/top_bg.jpg);
	background-repeat: repeat-x;
	background-position: top center;
	min-height: 644px;
	font-family: "BebasBold";
	position: relative;
}
header a {
	color: #fff;
}
.top_line {
	min-height: 97px;
	-webkit-box-shadow: rgba(255, 255, 255, .4) 0 0 0 1px;
	box-shadow: rgba(255, 255, 255, .3) 0 0 0 1px;
	width: 100%;
	background-color: rgba(0, 0, 0, .6);
	padding: 22px 0;
}
.top_line a {
	font-size: 21px;
	border-bottom: #fff dashed 1px;
}
.top_line a:hover {
     border-bottom: transparent dashed 1px;
     -webkit-transition: all .25s;
     -o-transition: all .25s;
     transition: all .25s;
 }
.top_addr {
    background-image: url(../img/top_map.png);
    background-repeat: no-repeat;
    background-position: left top;
    line-height: 26px;
    padding-left: 50px;

}
.top_addr strong {
    display: block;
    color: #d12f22;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 32px;
}
.top_line .logo  {
  border-bottom: none;
  position: relative;
  margin-top: -10px;
}
.top_line .logo:hover  {
  border-bottom: none;
}
.top_line .logo_wrap {
	position: relative;
	margin: auto;
	width: 240px;
}
.ta_right {
    background: none;
    text-align: right;
    padding-left: 0;
}
.ta_right span {
    color: #fff;
}
header h1 {
    color: #fff;
    text-align: center;
    margin-top: 65px;
    font-size: 40px;
    text-shadow: rgba(0,0,0,0.55) 0 3px;
    font-family: "BebasRegular";
}
.button {
	background-color: #d12f22;
	display: inline-block;
	font-size: 20px;
	height: 50px;
	line-height: 50px;
	padding: 0 25px;
	vertical-align: middle;
	border-bottom: #ac160a 4px solid;
	color: #fff;
	font-family: "BebasBold";
}

a.button:active {
	background-color: #b81609;
}
a.button:hover {
	background-color: #e64437;
}
header .button {
	margin-right: 20px;
}
.st_button {
    line-height: 18px;
    padding-left: 65px;
    padding-top: 7px;
    text-align: left;
    background-image: url(../img/photo_icon.png);
    background-repeat: no-repeat;
    background-position: 8px 8px;
}
.buttons_top {	
	position: absolute;
    width: 100%;
    bottom: 30px;
}
.top_mnu {
	height: 62px;
	background-color: #242424;
	-webkit-box-shadow: rgba(255, 255, 255, .4) 0 0 0 1px;
	box-shadow: rgba(255, 255, 255, .3) 0 0 0 1px;
	font-family: "BebasRegular";
	text-transform: uppercase;
}
.top_mnu ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
.top_mnu a {
	color: #fff;
	font-size: 20px;
	padding: 0 26px 0 54px;
	display: block;
	border-left: 1px solid #3b3b3b;
	background-image: url(../img/top_mnu.png);
	background-position: 20px 10px;
    background-repeat: no-repeat;
}
.top_mnu li {
	float: left;
	line-height: 62px;
	border-right: 1px ;
}
.top_mnu li.active a,
.top_mnu li:hover a {
	background-color: #050505;
}
.top_mnu li:nth-child(2) a {
	background-position: 20px -62px;
}
.top_mnu li:nth-child(3) a {
	background-position: 20px -154px
}
.top_mnu li:nth-child(4) a {
	background-position: 20px -252px;
}
.top_mnu li:nth-child(5) a {
	background-position: 20px -356px;
}
.top_mnu li:nth-child(6) a {
	background-position: 20px -455px;
}
.waranty {
    float: right;
    color: #fff;
    cursor: default;
    border: 3px solid #fff;
    border-radius: 3px;
    padding: 3px 5px;
    font-size: 15px;
    line-height: 16px;
    margin-top: 8px;
}
.w_left,
.w_right {
	display: inline-block;
	vertical-align: top;
}
.w_left span {
	font-size: 34px;
	font-family: "BebasBold";
}
.w_left {
	font-family: "BebasBold";
	font-size: 20px;
	margin-top: 10px;
	margin-right: 7px;
}
.w_right {
	font-family: "RobotoCondensedRegular";
}
.main_cats {
	background-color: #191919;
	padding: 20px 0 40px 0;	
}
.main_cats h2,
h2.art_header {
	text-transform: uppercase;
	color: #c9c9c9;
	font-family: "BebasRegular";
	font-size: 40px;
	text-align: center;
}
.main_cats h2 strong {
	color: #fff;
}
.main_cats h2 span {
	color: #d12f22;
}
section h2,
article h2 {
	position: relative;
}
.s_black h2::before {
	content: "";
	position: absolute;
	width: 50px;
	height: 20px;
	background-image: url(../img/heder_img.png);
	top: 19px;
	margin-left: -68px;
}
.s_black h2::after {
	content: "";
	position: absolute;
	width: 50px;
	height: 20px;
	background-image: url(../img/heder_img.png);
	background-position: -50px 0;
	top: 20px;
	margin-left: 20px;
}
article h2.art_header::before {
	content: "";
	position: absolute;
	width: 50px;
	height: 20px;
	background-image: url(../img/art_header_img.png);
	top: 19px;
	margin-left: -68px;
}
article h2.art_header::after {
	content: "";
	position: absolute;
	width: 50px;
	height: 20px;
	background-image: url(../img/art_header_img.png);
	background-position: -50px 0;
	top: 20px;
	margin-left: 20px;
}
.mc_item {
	border: #4E4E4E 1px solid;
	border-radius: 2px;
	
}
.mc_item_wrap {
	margin-left: 30px;
	width: 160px;
	display: inline-block;
	text-align: center;
}
.mc_item_wrap:nth-child(1) {
	margin-left: 0;
}
.mc_item_wrap a {
	color: #fff
}
.mc_item span {
	display: block;
	height: 85px;
	width: 130px;
	background-image: url(../img/cats_iconset.png);
	margin: 15px auto 0px;
}
.mc_wrap {
	text-align: center;
	padding: 0;
	position: relative;
}
.mc_item_wrap:nth-child(1) span {
	background-position: 10px 0px;
}
.mc_item_wrap:nth-child(2) span {
	background-position: -119px 0px;
}
.mc_item_wrap:nth-child(3) span {
	background-position: -240px 0px;
}
.mc_item_wrap:nth-child(4) span {
	background-position: -370px 0px;
}
.mc_item_wrap:nth-child(5) span {
	background-position: -495px 0px;
}
.mc_item_wrap:nth-child(6) span {
	background-position: -623px 0px;
}
.mc_item h4 {
	font-family: "BebasBold";
	font-size: 20px;
	font-weight: normal;
	margin-top: 5px;
	margin-bottom: 7px;
}
.mc_item a:hover h4,
.mc_item_wrap.active h4  {
	text-decoration: underline;
}
.mc_item_wrap.active,
.mc_item_wrap:hover {
	background-color: #2A2A2A;
}
.mc_toggle {
    background-color: #212121;
    height: 25px;
    position: relative;
    cursor: pointer;
    background-image: url(../img/strelki.png);
    background-repeat: no-repeat;
    background-position: 70px 10px;
}
.mc_item_wrap.active .mc_toggle,
.mc_item_wrap:hover .mc_toggle {
	background-color: #353535;
	background-position: -70px 10px;
}
.mc_item_wrap.active > ul {
	position: absolute;
	width: 100%;
} 
.mc_item_wrap.active > ul li {
    display: inline-block;
    font-family: "BebasRegular"; 
}
.mc_item_wrap.active > ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;

}
.mc_item_wrap.active > ul li a {
    padding: 0 10px; 
    text-decoration: underline;
}
body .mc_wrap .mc_item_wrap > ul {
	background-color: #353535;
	font-size: 20px;
	margin-top: 25px;
	position: absolute;
	width: 100%;
	padding: 15px 0;
	z-index: 10;
	display: none;
	left: 0;
}
.mc_item_wrap.active > ul li a:hover {
	text-decoration: none;
}
.mc_item_wrap_af {
    content: "";
    width: 18px;
    height: 9px;
    background-image: url("../img/mc_c_arr.png");
    position: absolute;
    margin: 16px  69px;
    display: none;
}
.mc_button_w {
	text-align: center;
	margin-top: 30px;
}
article.content {
	background-color: #E9E9E9;
}
article h2.art_header {
	color: #050505;
	margin-bottom: 10px;
}
p.h_descr {
	max-width: 790px;
	text-align: center;
	margin: auto;
	margin-top: 0;
	color: #050505;
}
.home_items {
	background-color: #D6D6D6;
	padding: 40px 0;
	margin-top: 40px;
}
.hi_item {
	color: #050505;
	text-align: center;
	font-size: 14px;
	margin-bottom: 50px;
}
.hi_item img {
	max-width: 100%;
	border-top: 8px solid #AC160A;
}
.s_bottom img {
    bottom: 0;
	max-width: 90%;
	position: absolute;
}
.s_bottom {
	padding-top: 32px;

}
.sb_header.button_cont {
	text-align: right;
}
.sb_header h2 {
	margin: 0;
	text-transform: uppercase;
	font-family: "BebasRegular";
	font-size: 36px;
}
.sb_content {
    margin-top: 30px;
}
footer {
    background-color: #2a2a2a;
    color: #fff;
    padding: 28px 0 35px;
    font-family: "BebasBold";
    font-size: 20px;
}
footer a {
	color: #fff;
}
footer ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
footer li {
	float: left;
}
footer a {
	padding: 0 10px;
	text-decoration: underline;
} 
footer a:hover {
	text-decoration: none;
}
header h1 {
    color: #fff;
    text-align: center;
    margin-top: 65px;
    font-size: 40px;
    text-shadow: rgba(0,0,0,0.55) 0 3px;
    font-family: "BebasRegular";
}