
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/Admin/Index">Учетные записи</a></li>
                <li><a href="/RoleAdmin/Index">Роли</a></li>
                <li><a href="/Ticket/Index">Панель менеджера</a></li>
            </ul>
        </div>
    </div>
</nav>