body{
    background-color: white;
    }
#block-pass-login{
    width: 300px;
    height: auto;
    border: 1px solid #D9D9D9;
    background-color: #E5EBFA;
    margin: 100px auto;
}

#pass-login li{
    list-style-type: none; 
    margin-top: 10px;
    margin-left: -25px;
  
}
#pass-login label{
    font: 15px sans-serif;
    position: absolute;
    margin-top: 4px;
    
}
#pass-login input{
    width: 200px;
    height: 24px;
    margin-left: 60px;
    border: 1px solid #CCCCCC;
    font: 17px sans-serif;
}

#submit-enter{
   margin-left: 10px;
}

#msgerror{
    font: 14px sans-serif;
    color: red;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #FCBDBD;
    border: 1px solid #FF9393;
    margin-top: 0;
}